.charts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
    max-width: 60%;           
    margin: 0 auto;           
}

canvas {
    flex: 1;
    object-fit: contain;
    align-self: center;      
    margin-bottom: 10px;
    width: 100%;             
}

p {
    display: inline;
    color:#609FA5;
}
.it{
    color: #ffffff;
    font-style: italic;
}

#chart2{
    margin-top: 20px ;
}


.disclaimer{
    font-size: smaller;
    color: #bccdd5;
}
