body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.checklist-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
label {
    margin-left: 8px;
}
p{
    display: inline;
    color:#609FA5;
}

.checklist-item:hover{
    background-color: #60CCD2;
    cursor: pointer;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
}

#choice1{
    background-color: #60CCD2;
    color: #3d4144;
}
.category{
    text-align: center;
    background-color: #6f777d;
    color: #ffff
}

#selectall{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 0.5em 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-width: 0;
    border-radius: 4px;
    cursor: pointer;
}